extends ../../../views/layout

block head

block content
  div.container(ng-controller="RegisterController")
    form.form-horizontal(role='form', name='registerForm', ng-submit='register(registerForm)')
      div.form-group
        label.col-lg-2.control-label Email Address
        div.col-lg-10
          input.form-control(type='text', ng-model='user.email', placeholder='Email Address', name='email')
          div(ng-show="registerForm.email.$error.mongoose", style="color: red")
            {{registerForm.email.$error.mongoose}}
      div.form-group
        label.col-lg-2.control-label Password
        div.col-lg-10
          input.form-control(type='password', ng-model='user.password', placeholder='Password', name='password')
          div(ng-show="registerForm.password.$error.mongoose", style="color: red")
              {{registerForm.password.$error.mongoose}}
      div.form-group
        div.col-lg-offset-2.col-lg-10
          button.btn.btn-default(type='submit') Register
          p Already a member?
            span: a(href='/') Login here